<!doctype html>
<title>{% block title %}{% endblock %} - Assignment-1 Sample Website</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
-->
<h1>Heading 1 - Home Page</h1>
<h2>Heading 2 - Home Page</h2>
<h3>Heading 3 - Home Page</h3>
<h4>Heading 4 - Home Page</h4>
<h5>Heading 5 - Home Page</h5>
<h6>Heading 6 - Home Page</h6>


<a href="{{url_for('first')}}">Visit First Page</a><br>
<a href="{{url_for('second')}}">Visit Second Page</a><br>
<a href="{{url_for('third')}}">Visit Third Page</a> <br>
<a href="{{url_for('fourth')}}">Visit Fourth Page</a><br>
<a href="{{url_for('fifth')}}">Visit Fifth Page</a><br>
<a href="{{url_for('sixth')}}">Visit Sixth Page</a><br>
<a href="{{url_for('seventh')}}">Visit Seventh Page</a><br>
<a href="{{url_for('eight')}}">Visit Eight Page</a><br> 
<a href="{{url_for('nine')}}">Visit Nine Page</a><br>
<a href="{{url_for('ten')}}">Visit Ten Page</a> 

