<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Assignment-1 Nine Page</title>
</head>
<body>
	<h5>Heading 3 - Nine Page</h5>

	 <a href="{{url_for('first')}}">Visit Second Page</a><br>
	 <a href="{{url_for('third')}}">Visit Third Page</a> <br>
	 <a href="{{url_for('first')}}">Visit first Page</a><br>
	 <a href="{{url_for('fifth')}}">Visit Fifth Page</a><br>
	 <a href="{{url_for('sixth')}}">Visit Sixth Page</a><br>
	 <a href="{{url_for('seventh')}}">Visit Seventh Page</a><br>
	 <a href="{{url_for('eight')}}">Visit Eight Page</a><br>
	 <a href="{{url_for('fourth')}}">Visit four Page</a><br>
	 <a href="{{url_for('ten')}}">Visit Ten Page</a>

</body>
</html>